#logo {
    border: none;
    border-radius: 12px;
    vertical-align: middle;
    box-shadow: 5px 15px 15px grey;
}

#first-part {
    border: none;
    border-radius: 12px;
    box-shadow: 5px 15px 15px grey;
    width: inherit;
}

#1stimage {
    display: inline;
}

#1sttext {
    display: inline;
    right: 0%;
}

#second-part {

}

#2ndtext {

}

#2ndimage {

}